.ico { background-image: url(~sprite.png); background-size:85px 59.5px;}
.ico-s1 { width: 22.5px; height: 24px; background-position: 0px -35.5px; }
.ico-s2 { width: 85px; height: 35.5px; background-position: 0px 0px; }
.ico-s3 { width: 19px; height: 17.5px; background-position: -22.5px -35.5px; }